@{
    Layout = "_userLayout";
}
<h1>How to use our TODO application's API services</h1>
<p>At the moment, we have two endpoints to use.</p>
<ul>
    <li>
        By sending a JSON object with the fields "name" and "password to "/api/add-assignee"
        with the method POST, admins can create new assignees (in the role of simple user).
    </li>
    <li>
        By sending a GET request to "/api/assignees", assignees can get a list of all assignees,
        together with their TODOs.
    </li>
</ul>
<p>
    To use these services, you will need a token for authentication. Get yours
    <a href="/users/token">
        here!
    </a>
</p>