@{
    Layout = "_userLayout";
}

    <div class="displayCardsContainer narrowContainer firstContainer">
        <div class="displayCard">
            <div class="title">Your token is here, @User.Identity.Name:</div>
            <p id="token"> @ViewData["token"]</p>
            <div class="description">Be aware that this will expire in a day.</div>
        </div>
    </div>
