<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Task Manager</title>
    <link rel="icon" href="~/myIcon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat:700&display=swap" rel="stylesheet">
</head>