<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>TaskManager</title>
    <link rel="icon" href="~/myIcon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400+700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
</head>