<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    @await Html.PartialAsync("_LayoutHeadPartial.cshtml")
<body>
    <nav>
        <a href="/users"><h1>Task Manager</h1></a>
        <a href="/public/signUp">Sign up</a>
        <a href="/public/login">Log in</a>
    </nav>
    @RenderBody()
</body>
</html>