@using TodoWithDatabase.Models.DAOs;

@{
    Layout = "_userLayout";
}

<h1>Add new project</h1>
<form action="/users/addProject" method="POST">
    <input type="text" name="Title" placeholder="Title" required />
    <input type="text" name="Description" placeholder="Description" required />
    <select multiple name="collaboratorIds" id="multipleSelector">
        @{ foreach (Assignee assignee in (List<Assignee>)ViewData["otherAssignees"])
            {
                <option value="@assignee.Id">@assignee.UserName</option>
            }
        }
    </select>
    @await Html.PartialAsync("_ScriptForMultipleSelectPartial.cshtml")
    <button type="submit">Submit</button>
</form>