@using TodoWithDatabase.Models.DAOs;
@using TodoWithDatabase.Models.DAOs.JoinTables;

@{
    Layout = "_userLayout";
}

<h1>Add new project</h1>
<form th:action="/users/addProject" method="POST">
    <input type="text" name="Title" placeholder="Title" required />
    <input type="text" name="Description" placeholder="Description" required />
    <select multiple name="collaboratorIds">
        @{ foreach (Assignee assignee in (List<Assignee>)ViewData["otherAssignees"])
           {
                <option value="@assignee.Id">@assignee.UserName</option>
           }
          }
    </select>
    <button type="submit">Submit</button>
</form>