@page
@{
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<div class="displayCardsContainer narrowContainer firstContainer">
    <article class="displayCard">
        @{ if (User.IsInRole("TodoAdmin"))
           {
               <h2 class="title">Renounce the admin role</h2>
               <div id="centerContent">
                   <a class="renounceAdminButton" asp-controller="Roles" asp-action="StopBeingAdmin">
                       <p class="largeButton">Renounce</p>
                   </a>
               </div>
           }
           else
           {
               <h2 class="title">Admin Application</h2>
               <form asp-controller="Roles" asp-action="BecomeAdmin" method="POST">
                   <div id="inputContainer">
                       <label for="motivation" class="description">Why do you want to become an admin of our site?</label>
                       <textarea id="motivation" class="description" name="motivation"></textarea>
                       <button class="largeButton" type="submit">Submit</button>
                   </div>
               </form>
           }
         }
    </article>
</div>