@using TaskManager.Models.DAOs;
@using TaskManager.Models.DAOs.JoinTables;
@model TaskManager.Models.ViewModels.ProjectViewModel;
@{
    Layout = "_userLayout";
}

<div class="displayCardsContainer middleWidthContainer firstContainer">
    <article class="displayCard">
        <h2 class="title">Add new card to the project "@Model.project.Title"</h2>
        <form action="/users/projects/@Model.project.Id/cards/addCard" method="POST">
            <div id="inputContainer">
                <input type="text" name="Title" placeholder="Title" required />
                <textarea class="description" name="Description" placeholder="Description" required></textarea>
                <input id="dateTimePicker" type="datetime-local" name="Deadline" placeholder="Deadline" required />
                @await Html.PartialAsync("_ScriptForDatePickingPartial.cshtml")
                @{var possibleCollaborators = Model.project.AssigneeProjects.Where(ap => !ap.Assignee.UserName.Equals(User.Identity.Name));
                    if (possibleCollaborators.Count() > 0)
                    {
                        <div class="responsibles">
                            <label for="multipleSelector">Collaborating with:</label>
                            <select id="multipleSelector" multiple name="collaboratorIds">
                                <option value="" disabled hidden>Select collaborator(s)</option>
                                @foreach (var assigneeProject in possibleCollaborators)
                                 {
                                    <option value="@assigneeProject.Assignee.Id">@assigneeProject.Assignee.UserName</option>
                                 }
                            </select>
                            @await Html.PartialAsync("~/Views/Shared/_ScriptForMultipleSelectPartial.cshtml")
                        </div>
                    }
                }
                <button class="largeButton" type="submit">Submit</button>
            </div>
        </form>
    </article>
</div>