:root {
    --brand-color: #00c9b5;
    --pale-red: #f26f68;
    --dark-grey: #707070;
    --light-grey: #ebebeb;
}


html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 5px 0 25px;
}

#centerContent {
    margin: 0 auto;
}

.errorMessage {
    color: var(--pale-red);
}

/* ------------- first page specific ------------- */

#brandName {
    font-family: 'Caveat', cursive;
    font-size: 120px;
    color: var(--brand-color);
    margin: 20px 0;
}

.middleWidthContainer p {
    margin: 15px 0;
}

.largeButton {
    background-color: var(--brand-color);
    border-radius: 15px;
    padding: 5px;
    width: 270px;
    margin-top: 20px;
    color: white;
}

a.largeButton {
    font-size: 30px;
}

#mainPageButton {
    margin-top: 30px;
}

/* ------------- horizontal nav bar ------------- */

nav {
    background-color: var(--brand-color);
    height: 95px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

    nav div {
        display: flex;
    }

        nav div a, nav div p {
            margin: 10px;
            padding: 5px;
            font-size: 24px;
        }

        nav div a {
            color: white;
        }

        nav div p {
            color: black;
        }

            nav div #signup {
                border: 1px solid white;
                border-radius: 15px;
            }

            nav div a .logo {
                margin: 0;
                font-family: 'Caveat', cursive;
                font-size: 55px;
            }

/* ------------- containers ------------- */

.displayCardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

    .primaryContainer {
        width: 80%;
    }

    .middleWidthContainer {
        width: 50%;
        font-size: 26px;
    }

    .narrowContainer {
        width: 30%;
    }

    .secondaryContainer {
        width: calc(50% - 12px);
        border: 3px solid var(--light-grey);
        border-radius: 30px;
        margin: 0;
        padding-bottom: 5px;
    }

        .secondaryContainer .columnTitle {
            margin: 5px 0;
            font-size: 24px;
            color: var(--dark-grey);
        }

    .firstContainer {
        margin-top: 30px;
    }

.cardsInColumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

/* ------------- displayCards ------------- */

.displayCard {
    box-sizing: border-box;
    width: calc(100% - 30px);
    margin: 10px 15px;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
    list-style-type: none;
    box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.16);
    font-size: 20px;
}

    .primaryCard {
        border-radius: 45px;
    }

        .primaryCard h2.mainTitle {
            margin-top: -50px;
            font-size: 30px;
        }

    .linkCard {
        background-color: var(--light-grey);
        padding: 4px;
        height: 40px;
    }

        .linkCard a {
            margin-bottom: 0;
        }

            #createNewLink {
                color: var(--dark-grey);
                font-weight: 800;
                text-decoration: underline;
            }

    .notDone, .done, .backArrow {
        top: 30px;
        margin-top: -30px;
    }

.notDone, .done {
    top: 22px;
    margin-top: -30px;
    position: relative;
    left: calc(100% - 22px);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
        .backArrow img {
            position: relative;
            margin-right: calc(100% - 10px);
        }

    .displayCard .notDone {
        background-color: var(--pale-red);
    }

    .displayCard .done {
        background-color: var(--brand-color);
    }

    .displayCard .title, .displayCard .mainTitle {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .displayCard h3.title {
        font-size: 22px;
        margin: 15px 0 5px 0;
    }

    .displayCard h2.title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .displayCard h2.titleToBeSlidUp {
        font-size: 22px;
        margin-top: -20px;
    }

    .displayCard .mainTitle {
        font-size: 30px;
    }

    .displayCard .description {
        font-weight: 400;
        font-size: 18px;
    }

    .displayCard .responsibles {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 30px;
        color: var(--brand-color);
    }

        .displayCard .responsibles ul {
            margin: 0 3px;
        }

            .displayCard .responsibles ul .responsibleName,
            .responsibles .responsibleName {
                font-size: 18px;
                display: inline;
                padding: 5px 15px;
                border: 2px solid;
                border-radius: 30px;
                border-color: var(--brand-color);
            }

            .displayCard .responsibles ul .responsibleName {
                margin: 2px;
            }

            .responsibles .responsibleName {
                margin: 5px;
            }

    .displayCard .details {
        text-align: right;
        margin: -20px 0 0 0;
    }

        .displayCard .details a {
            color: var(--dark-grey);
            text-decoration: underline;
        }

/* ------------- card - in - project specific ------------- */

.titleToBeCentered {
    margin: 10px 0;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 3px solid var(--light-grey);
    height: 15px;
    color: var(--dark-grey);
    margin: 0 -15px;
    padding: 0 15px;
}

    .stats a {
        text-decoration: underline;
        font-weight: bold;
        color: var(--dark-grey);
        font-size: 20px;
    }

    .stats p {
        font-weight: normal;
        color: var(--dark-grey);
        font-size: 20px;
        margin: 0;
    }

        .stats p.pastDeadline {
            color: var(--pale-red);
        }

/* ------------- for input ------------- */

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

    input, textarea {
        width: 100%;
        box-sizing: border-box;
        margin: 10px 0;
        padding: 10px;
    }

    input {
        font-size: 24px;
        height: 35px;
    }

    textarea {
        height: 200px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    }

#responsiblesInput {
    font-size: 18px;
    margin-top: 15px;
    color: var(--brand-color);
}

.pc-trigger {
    font-size: 18px;
}

.picker .pc-select .pc-trigger {
    margin-bottom: 0 !important;
}

.picker .pc-element {
    font-size: 18px;
    margin-bottom: 0 !important;
}

.responsibles label {
    margin: 5px 10px 5px 5px;
}

    #multipleSelector {
        width: 20px;
    }

    #dateTimePicker {
        text-align: center;
    }

button.largeButton, .renounceAdminButton {
    letter-spacing: 1px;
    font-size: 25px;
    border: hidden;
    margin-bottom: 5px;
}

p.largeButton {
    margin: 20px auto 5px auto;
}

.renounceAdminButton {
    font-weight: 400;
    color: white;
    margin-bottom: -20px;
}

#googleLink {
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey);
    margin: 0 auto;
    color: var(--dark-grey);
    font-size: 25px;
    font-weight: 400;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
}

#googleLink img {
    margin-right: 15px;
}

#or {
    margin-top: 0;
    margin-bottom: 10px;
}

/* ------------- API guide specific ------------- */

.apiList {
    text-align: left;
    list-style: disc;
    font-weight: 400;
    margin-left: 25px;
}

.apiList li {
    margin: 15px 5px;
}

.apiTokenMessage {
    margin-top: 15px;
    margin-bottom: 20px;
}

.apiCard {
    padding-bottom: 25px;
    border-radius: 45px;
}

    .apiCard .largeButton {
        font-size: 25px;
        margin: 0 auto;
    }

/* ------------- API token specific ------------- */

#token {
    color: var(--dark-grey);
    overflow-wrap: break-word;
    font-weight: 400;
}

/* ------------- footer (and helpers) ------------- */

.notfooter {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    height: 80px;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    font-weight: 400;
    color: var(--dark-grey);
}

    footer a {
        color: var(--dark-grey);
        text-decoration: underline;
        font-size: 20px;
        font-weight: bold;
    }

    footer p{
        margin: 4px auto 20px auto;
        font-size: 16px;
    }
