@{
    Layout = "_userLayout";
}
@{ if (User.IsInRole("TodoAdmin"))
    {
        <h1>Renounce the admin role</h1>
        <a href="/users/stopBeingAdmin">renounce</a>
    }
    else
    {
        <h1>Admin Application</h1>
        <form action="/users/becomeAdmin" method="POST">
            <label>Why do you want to become an admin of our site?</label>
            <input type="text" name="motivation"/>
            <button type="submit">Submit</button>
        </form>
        }
    }
    <p>@ViewData["result"]</p>