@{
    Layout = "_userLayout";
}
<div class="displayCardsContainer narrowContainer firstContainer">
    <div class="displayCard">
        @{ if (User.IsInRole("TodoAdmin"))
           {
                <div class="title">Renounce the admin role</div>
                <div class="largeButton" id="centerContent">
                    <a class="largeButton" href="/users/stopBeingAdmin">renounce</a>
                </div>
           }
           else
           {
                <div class="title">Admin Application</div>
                <form action="/users/becomeAdmin" method="POST">
                    <div id="inputContainer">
                        <div class="description">Why do you want to become an admin of our site?</div>
                        <textarea class="description" name="motivation"></textarea>
                        <button class="largeButton" type="submit">Submit</button>
                    </div>
                </form>
           }
         }
    </div>
</div>
