@{
    Layout = "_userLayout";
}

    <div class="displayCardsContainer narrowContainer firstContainer">
        <div class="displayCard">
            <div class="description">@Html.Raw(@ViewData["result"])</div>
        </div>
    </div>
