@page

@{if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_userLayout.cshtml";
    }
    else
    {
        Layout = "_publicLayout";
    }
}

<div class="displayCardsContainer primaryContainer firstContainer">
    <article class="displayCard apiCard">
        <h2 class="mainTitle">Our API services</h2>
        <div class="cardsInColumns">
            <section class="displayCardsContainer secondaryContainer">
                <h3>Accessible for everyone</h3>
                <ul class="apiList">
                    <li>
                        By sending a <strong>GET</strong> request to <strong>"/api/users/me/userWithProjects"</strong>,
                        users can get a JSON object containing information regarding their account and their projects
                        (containing the cards in each project).
                    </li>
                    <li>
                        By sending a <strong>GET</strong> request to <strong>"/api/users/me/userWithCards"</strong>,
                        users can get a JSON object containing information regarding their account and their cards 
                        (containing the projects each card is part of).
                    </li>
                    <li>
                        By sending a <strong>PUT</strong> request with a corresponding JSON object to <strong>
                        "/api/users/me/projects/{Id}</strong>, where "{Id}" represents an Id of an existing project of theirs,
                        users can modify their solo projects  (i.e. if they haven't been collaborating on them with anyone else).
                        The required format is the same as the one used by the userWithProjects endpoint.
                    </li>
                    <li>
                        By sending a <strong>DELETE</strong> request to <strong>"/api/users/me/projects/{Id}"</strong>, where "{Id}"
                        represents an Id of an existing project of theirs, users can delete their solo projects (i.e. if they haven't
                        been collaborating on them with anyone else).
                    </li>
                </ul>
            </section>
            <section class="displayCardsContainer secondaryContainer">
                <h3>Restricted to Admins</h3>
                <ul class="apiList">
                    <li>
                        By sending a <strong>GET</strong> request to <strong>"/api/users/all"</strong>, Admins can get a
                        JSON object containing the name and Id of every user.
                    </li>
                    <li>
                        By sending a <strong>GET</strong> request to <strong>"/api/users/{Id}/userWithProjects"</strong>,
                        where "{Id}" represents the Id of any user, Admins can get a JSON object containing information
                        regarding that user and their projects (containing the cards in each project).
                    </li>
                    <li>
                        By sending a <strong>GET</strong> request to <strong>"/api/users/{Id}/userWithCards"</strong>,
                        where "{Id}" represents the Id of any user, Admins can get a JSON object containing information
                        regarding that user and their cards (containing the projects each card is part of).
                    </li>
                    <li>
                        By sending a <strong>POST</strong> request with a JSON object (fields: "name" and "password") to
                        <strong>"/api/users"</strong>, Admins can create new accounts (in the role of "User").
                    </li>
                </ul>
            </section>
        </div>
        <p class="title, apiTokenMessage">To use these services, you will need an authentication token.</p>
        @if (User.Identity.IsAuthenticated)
        {
        <div class="largeButton">
            <a class="largeButton"  asp-controller="Token" asp-action="Token" data-test="tokenLink">Get your token</a>
        </div>
        }
        else
        {
        <div class="largeButton">
            <a class="largeButton" href="/signUp">Sign up now!</a>
        </div>
        }
    </article>
</div>