<footer data-test="footer">
    <a href="/APIguide" data-test="APIguide">For developers: a guide to our API services</a>
    <p data-test="credits">This app uses the ASP.NET Core framework, and is hosted on [hosting site].</p>
</footer>