@{
    Layout = "_userLayout";
}
    <div class="displayCardsContainer narrowContainer firstContainer">
        <article class="displayCard">
            <h3 class="title">Your token is here, @User.Identity.Name:</h3>
            <p id="token" data-test="token"> @ViewData["token"]</p>
            <p class="description">Be aware that this will expire in a day.</p>
        </article>
    </div>
