<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>todo web app in C#</title>
</head>
<body>
    <div id="title">
        <h1>Add new todo</h1>
    </div>
    <form th:action="/add/users" method="POST">
        <input type="text" name="Title" required />
        <button type="submit">Submit</button>
    </form>
</body>
</html>