<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>todo web app in C#</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h2>Welcome to definitely-not-Trello!</h2>
    <p>This is a tool for managing tasks, alone or in groups.</p>
    <p>
        <a href="~/signUp.html">Sign up</a>
        or
        <a href="~/login.html">log in</a>
    </p>
</body>
</html>