@using TodoWithDatabase.Models.DAOs;
@using TodoWithDatabase.Models.DAOs.JoinTables;

@{
    Layout = "_userLayout";
}
<p class="temporary-placeholder">we are signed in and things are ok.</p>
<h1 class="title">Projects:</h1>
<a href="users/addProject">Add new project</a>
@foreach (Project project in (List<Project>)ViewData["projects"])
 {
    <ul class="project">
        <li class="title">@project.Title</li>
        <li class="descripton">@project.Description</li>
        <li class="assignees">
            <p>Responsibles:</p>
            <ul>
                @foreach (AssigneeProject assigneeProject in project.AssigneeProjects)
                {
                    <li>@assigneeProject.Assignee.UserName</li>
                }
            </ul>
        </li>
        <li>
            <a href="users/projects/@project.Id">Details</a>
        </li>
    </ul>
 }