@using TodoWithDatabase.Models.DAOs;
@using TodoWithDatabase.Models.DAOs.JoinTables;
@using System;

@{
    Layout = "_userLayout";
}
<div class="displayCardsContainer">
    <ul class="displayCard" id="link">
        <li class="title">
            <a id="createNewLink" href="users/addProject">Add new project...</a>
        </li>
    </ul>
    @foreach (Project project in (List<Project>)ViewData["projects"])
    {
        <ul class="displayCard">
            <li class=@((project.Cards.AsQueryable().Select(c => !c.Done).Count() > 0) ? "notDone" : "done")></li>
            <li class="title">@project.Title</li>
            <li class="description">@project.Description</li>
            @if (project.AssigneeProjects.Count() > 1)
            {
                <li class="responsibles">
                    <span>Collaborating with:</span>
                    @{var otherCollaborators = project.AssigneeProjects.AsQueryable().Where(a => !a.Assignee.UserName.Equals(User.Identity.Name)).ToList();
                      foreach (AssigneeProject assigneeProject in project.AssigneeProjects.AsQueryable().Where(a => !a.Assignee.UserName.Equals(User.Identity.Name)))
                      {
                          <span class="responsibleName">@assigneeProject.Assignee.UserName</span>
                      }
                    }
                </li>
            }
            <li class="details">
                <a href="users/projects/@project.Id">Details...</a>
            </li>
        </ul>
    }
</div>
