@{
    Layout = "_userLayout";
}

<div class="displayCardsContainer narrowContainer firstContainer">
    <article class="displayCard">
        <p class="description">@ViewData["result"]</p>
        @if (ViewData["advice"] != null)
        {
            <p class="description">@ViewData["advice"]</p>
        }
    </article>
</div>
