@{
    Layout = "_userLayout";
}

<div class="displayCardsContainer narrowContainer firstContainer">
    <div class="displayCard">
        <div class="description">@ViewData["result"]</div>
        @if (ViewData["advice"] != null)
         {  <br />
            <div class="description">@ViewData["advice"]</div>
         }
    </div>
</div>
