@using TaskManager.Models.DAOs;
@model TaskManager.Models.ViewModels.AssigneesViewModel;
@{
    Layout = "_userLayout";
}

<div class="displayCardsContainer middleWidthContainer firstContainer">
    <article class="displayCard">
        <h2 class="title">Add new project</h2>
        <form action="/users/addProject" method="POST">
            <div id="inputContainer">
                <input type="text" name="Title" placeholder="Title" required />
                <textarea class="description" name="Description" placeholder="Description" required></textarea>
                <div class="responsibles">
                    <label for="multipleSelector">Collaborating with:</label>
                    <select id="multipleSelector" multiple name="collaboratorIds">
                        <option value="" disabled hidden>Select collaborator(s)</option>
                        @{ foreach (var assignee in Model.assignees)
                            {
                                <option value="@assignee.Id">@assignee.UserName</option>
                            }
                        }
                    </select>
                    @await Html.PartialAsync("~/Views/Shared/_ScriptForMultipleSelectPartial.cshtml")
                </div>
                <button class="largeButton" type="submit">Submit</button>
            </div>
        </form>
    </article>
</div>