@using TodoWithDatabase.Models.DAOs;
@using System.Linq;

@{
    Layout = "_userLayout";
}

<div class="displayCardsContainer primaryContainer firstContainer">
    @{var project = (Project)ViewData["project"];
        <ul class="displayCard primaryCard">
            <li class="mainTitle" data-test="projectTitle">@project.Title</li>
            <li class="description" data-test="projectDescription">@project.Description</li>
            <li class="responsibles">
                @foreach (var assigneeProject in project.AssigneeProjects)
                {
                    <span class="responsibleName">@assigneeProject.Assignee.UserName</span>
                }
            </li>
            <li class="cardsInColumns">
                <div class="displayCardsContainer secondaryContainer">
                    <p>To do</p>
                    <ul class="displayCard linkCard">
                        <li class="title">
                            <a id="createNewLink" href="@project.Id/cards/addCard">Create new card...</a>
                        </li>
                    </ul>
                    @{
                        ViewData["cards"] = project.Cards.Where(c => !c.Done).ToList();
                        ViewData["cardType"] = "toDoCard";
                        ViewData["toggleName"] = "mark as done";
                    }
                    @await Html.PartialAsync("_CardsPartial.cshtml")
                </div>
                <div class="displayCardsContainer secondaryContainer">
                    <p>Done</p>
                    @{
                        ViewData["cards"] = project.Cards.Where(c => c.Done).ToList();
                        ViewData["cardType"] = "doneCard";
                        ViewData["toggleName"] = "mark as not done";
                    }
                    @await Html.PartialAsync("_CardsPartial.cshtml")
                </div>
            </li>
        </ul>
    }
</div>