body {
    font-family: Arial;
}

.project {
    border:1px solid grey;
}

.card {
    border: 1px solid lightpink;
}

nav {
    background-color: lightcyan;
}

td {
    border-style: solid;
    border-width: 1px;
}

.green, .red, .yellow {
    color: black;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: lightpink;
}
