html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

#centerContent {
    margin: 0 auto;
}

/* ------------- first page specific ------------- */

#brandName {
    font-family: 'Caveat', cursive;
    font-size: 120px;
    color: #00c9b5;
    margin: 20px  0;
}

.middleWidthContainer p {
    margin: 15px 0;
}

.largeButton {
    background-color: #00c9b5;
    border-radius: 15px;
    padding: 5px;
    width: 270px;
    margin-top: 20px;
    color: white;
}

a.largeButton {
    font-size: 30px;
}

#mainPageButton {
    margin-top: 30px;
}

/* ------------- horizontal nav bar ------------- */

nav {
    background-color: #00c9b5;
    height: 95px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

    nav div {
        display: flex;
    }

        nav div a, nav div p {
            margin: 10px;
            padding: 5px;
            font-size: 24px;
        }

        nav div a {
            color: white;
        }

        nav div p {
            color: black;
        }

            nav div #signup {
                border: 1px solid white;
                border-radius: 15px;
            }

            nav div a .logo {
                margin: 0;
                font-family: 'Caveat', cursive;
                font-size: 55px;
            }

/* ------------- containers ------------- */

.displayCardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

    .primaryContainer {
        width: 80%;
    }

    .middleWidthContainer {
        width: 50%;
        font-size: 26px;
    }

    .narrowContainer {
        width: 30%;
    }

    .secondaryContainer {
        width: calc(50% - 12px);
        border: 3px solid #ebebeb;
        border-radius: 30px;
        margin: 0;
        padding-bottom: 5px;
    }

        .secondaryContainer p {
            margin: 10px 0 0 0;
            font-size: 24px;
            color: #707070;
        }

    .firstContainer {
        margin-top: 30px;
    }

.cardsInColumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

/* ------------- displayCards ------------- */

.displayCard {
    box-sizing: border-box;
    width: calc(100% - 30px);
    margin: 10px 15px;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
    list-style-type: none;
    box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.16);
    font-size: 20px;
}

    .primaryCard {
        border-radius: 45px;
    }

    .linkCard {
        background-color: #ebebeb;
        padding: 0;
        height: 40px;
    }

        .linkCard li.title {
            margin-bottom: 0;
        }

            #createNewLink {
                color: #707070;
                font-weight: 400;
            }

    .displayCard .notDone, .done {
        position: relative;
        left: calc(100% - 30px);
        top: 30px;
        margin-top: -30px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }

    .displayCard .notDone {
        background-color: #f26f68
    }

    .displayCard .done {
        background-color: #00c9b5;
    }

    .displayCard .title, .displayCard .mainTitle {
        text-align: center;
        margin-bottom: 15px;
    }

    .displayCard .title {
        font-size: 22px;
    }

    .displayCard .mainTitle {
        font-size: 30px;
    }

    .displayCard .description {
        font-weight: 400;
        font-size: 18px;
    }

    .displayCard .responsibles {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 30px;
        color: #00c9b5;
    }
    .displayCard .responsibles span {
        margin: 5px;
        font-size: 18px;
    }
        .displayCard .responsibles .responsibleName {
            padding: 5px 15px;
            border: 2px solid;
            border-radius: 30px;
            border-color: #00c9b5;
        }

    .displayCard .details{
        text-align: right;
        margin: 5px 0;
    }
    .displayCard .details a {
        color: #707070;
        text-decoration: none;
    }

/* ------------- for input ------------- */

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

    input, textarea {
        width: 100%;
        box-sizing: border-box;
        margin: 10px 0;
        padding: 10px;
    }

    input {
        font-size: 24px;
        height: 35px;
    }

    textarea {
        height: 200px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    }

    #responsiblesInput {
        font-size: 18px;
        margin-top: 15px;
        color: #00c9b5;
    }

    .responsibles label {
        margin: 5px;
    }

    #multipleSelector {
        width: 20px;
    }

    #dateTimePicker {
        text-align: center;
    }

button.largeButton {
    font-size: 25px;
    border: hidden;
    margin-bottom: 5px;
}

#googleLink {
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    margin: 0 auto;
    color: #707070;
    font-size: 25px;
    font-weight: 400;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
}

#googleLink img {
    margin-right: 15px;
}

#or {
    margin-top: 0;
    margin-bottom: 10px;
}

/* ------------- API guide specific ------------- */

.apiList {
    text-align: left;
    list-style: disc;
    font-weight: 400;
    margin-left: 25px;
}

.apiList li {
    margin: 15px 5px;
}

.apiTokenMessage {
    margin-top: 15px;
    margin-bottom: 20px;
}

.apiCard {
    padding-bottom: 25px;
}

    .apiCard .largeButton {
        font-size: 25px;
        margin: 0 auto;
    }

/* ------------- API token specific ------------- */

#token {
    color: #707070;
    overflow-wrap: break-word;
    font-weight: 400;
}

/* ------------- footer (and helpers) ------------- */

.notfooter {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    height: 80px;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    font-weight: 400;
    color: #707070;
}

    .footer a {
        color: #707070;
        text-decoration: underline;
        font-size: 20px;
        font-weight: bold;
    }

    .footer p{
        margin: 4px auto 20px auto;
        font-size: 16px;
    }
