@page

@{if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_userLayout.cshtml";
    }
    else
    {
        Layout = "_publicLayout";
    }
}

<div class="displayCardsContainer primaryContainer firstContainer">
    <div class="displayCard apiCard">
        <div class="mainTitle">Our API services</div>
        <div class="cardsInColumns">
            <div class="displayCardsContainer secondaryContainer">
                <p>Restricted to Admins</p>
                <ul class="apiList">
                    <li>
                        By sending a <strong>POST</strong> request with a JSON object (fields: "name" and "password") to
                        <strong>"/api/users"</strong>, Admins can create new accounts (in the role of "User").
                    </li>
                    <li>
                        By sending a <strong>GET</strong> request to <strong>"/api/users/all"</strong>, Admins can get a
                        JSON object containing the name and Id of every user.
                    </li>
                    <li>
                        By sending a <strong>GET</strong> request to <strong>"/api/users/{Id}/userWithProjects"</strong>,
                        where "{Id}" represents the Id of any user, Admins can get a JSON object containing information
                        regarding that user and their projects (containing the cards in each project).
                    </li>
                    <li>
                        By sending a <strong>GET</strong> request to <strong>"/api/users/{Id}/userWithCards"</strong>,
                        where "{Id}" represents the Id of any user, Admins can get a JSON object containing information
                        regarding that user and their cards (containing the projects each card is part of).
                    </li>
                </ul>
            </div>
            <div class="displayCardsContainer secondaryContainer">
                <p>Accessible for everyone</p>
                <ul class="apiList">
                    <li>
                        By sending a <strong>GET</strong> request to <strong>"/api/users/me/userWithProjects"</strong>,
                        users can get a JSON object containing information regarding their account and their projects
                        (containing the cards in each project).
                    </li>
                    <li>
                        By sending a <strong>PUT</strong> request with a corresponding JSON object to <strong>
                            "/api/users/me/projects/{Id}"
                        </strong>, where "{Id}" represents an Id of an existing project of theirs, users can modify their projects.
                        The required format is the same as the one used by the userWithProjects endpoint.
                    </li>
                    <li>
                        By sending a <strong>DELETE</strong> request to <strong>"/api/users/me/projects/{Id}"</strong>, where "{Id}"
                        represents an Id of an existing project of theirs, users can delete their solo projects (i.e. if they haven't
                        been collaborating on them with anyone else).
                    </li>
                </ul>
            </div>
        </div>
        <div class="title, apiTokenMessage">To use these services, you will need an authentication token.</div>
        @if (User.Identity.IsAuthenticated)
        {
        <div class="largeButton">
            <a class="largeButton" href="/users/token">Get your token</a>
        </div>
        }
        else
        {
        <div class="largeButton">
            <a class="largeButton" href="/signUp">Sign up now!</a>
        </div>
        }
    </div>
</div>