@{
    Layout = "_publicLayout";
}
<h1>Log in using your Task Manager account, or with Google!</h1>
<form action="/login" method="POST">
    <input type="text" name="Name" required placeholder="Name" />
    <input type="text" name="Password" required placeholder="Password" />
    <button type="submit">Go</button>
</form>