@{
    Layout = "_publicLayout";
}

<h2>Task Manager is a free, lightweight platform for teams to keep track of their projects.</h2>
<p>Using our API services, it's easy to integrate with other tools.</p>
<p>Sign up now!</p>