<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>todo web app in C#</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Your token is here, @User.Identity.Name:</h1>
    <p id="token"> @ViewData["token"]</p>
    <h2>Be aware that this will expire in a day.</h2>
</body>
</html>

